<h2>About</h2>
{{#each model as |bookmark|}}
	<article>
		{{#if bookmark.public}}
			{{bookmark-listing bookmark=bookmark}}
			{{#link-to 'bookmarks.edit' bookmark}}
				EDIT
			{{/link-to}}
		{{else}}
			<p>private BOOKMARK</p>
		{{/if}}
	</article>
	<br>
{{/each}}